// variables
$spacer : 10px;
$color-white: #F6F9F0;
$color-black: #212529; 
$color-main: #916AFF;

// hamburger bar
@mixin transition {
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      transition: transform 1s #{$i * .08}s cubic-bezier(.29,1.4,.44,.96);
    }
  }
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}
$contrast: darken($color-main, 10%);


// ==========================================================
// reset css
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, dl, dt, dd, ol, ul, li, form, label, table {
  margin: 0;
  padding: 0;
  border: 0;
  color: $color-white;
  font-size: 10px;
  vertical-align: baseline;
}
body {
  line-height: 1;
  font-family: 'Pretendard', sans-serif;
  margin-bottom: 100px;
  background-color: $color-black;
}
ol, ul{
  list-style: none;
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
// ================================================================
// common styles
.btn {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #F6F9F0;
}
.btn-main {
  @extend .btn;
  background-color: $color-main;
  border: 2px solid transparent;
}
.btn-sub {
  @extend .btn;
  border: 2px solid $color-main;
}
.btn-main:hover, .btn-sub:hover {
  background-color: $color-white;
  color: $color-black;
  border: 2px solid transparent;
}
.container {
  max-width: 192rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}
//====================================================================
// navigation bar
nav {
  position: fixed;
  width: 100%;
  background-color: $color-black;
  z-index: 5;
  transition: all .5s;
  

  .nav-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.6rem;
    position: relative;
  }
  .nav-left {
    display: flex;
    align-items: center;
    height: 4.6rem;
  }
  .logo {
    width: 150px;
    height: 45px;
    margin-right: 3rem;
    transition: all .5s;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .nav-menus{
    padding: 1rem;
    margin-left: 3rem;

    ul {
      display: flex;
      gap: 4.5rem;
    }

    li {
      width: 8rem;
      height: 1.6rem;;
      font-weight: 700;
      text-align: center;
      transition: all .5s;
      
      a {
        font-size: 1.8rem;
        transition: all .5s;
      }

      &:hover a {
        color: $color-main
      }
    }
  }

  .nav-right {
    display: flex;
    justify-content: end;
    align-items: center;
    
    .btn {
      width: 147px;
      margin-right: 1.5rem;
      font-size: 1.6rem;
      transition: all .5s;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .nav-toggle {
    display: none;
    position: absolute;
    top: 20%;
    right: 0px;
  
    .nav-submenus {
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      transform: translate(100vw, 0);
      /* ie workaround */
      -ms-transform: translatex(-100vw);
      pointer-events: none;
      padding-top: 125px;
      transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
      border-bottom-left-radius: 100vw;
      @include alpha-attribute('background-color', rgba($contrast, 0.6), white);
      
      @media (min-width: 768px) {
        width: 40vw;
      }
      
      ul {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;
        overflow-x: hidden;
        pointer-events: auto;
      }
      li {
        list-style: none;
        pointer-events: auto;
        white-space: nowrap;
        transform: translatex(100vw);
        /* ie workaround */
        -ms-transform: translatex(-100vw);
        padding: 2rem 3.5rem 2rem;
        opacity: .8;
        &:last-child {
          margin-bottom: 2em;
        }
        &:hover {
          cursor: pointer;
          opacity: 1;
          @include alpha-attribute('background-color', rgba($color-main, 0.5), white);
        }
        a {
          text-decoration: none;
          color: $color-white;
          text-align: center;
          display: block;
          padding: 1rem;
          font-size: calc(24px - .5vw);
          @media (min-width: 768px) {
            text-align: right;
            padding: .5rem;
          }
        }
      }
    }
  
    input.hamburger {
      display: none;
      &:checked {
        & ~ .nav-submenus {
          transform: translatex(0);
          border-bottom-left-radius: 0;
          li {
            transform: translatex(0);
            @include transition;
            a {
              padding-right: 15px;
            }
          }
        }
        & ~ label {
          > i {
            background-color: transparent;
            transform: rotate(90deg);
            &:before {
              transform: translate(-50%, -50%) rotate(45deg);
            }
            &:after {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }
          close {
            color: $color-white;
            width: 100%;
          }
          open {
            color: rgba(0, 0, 0, 0);
            width: 0;
          }
        }
      }
    }
  
    label.hamburger {
      z-index: 9999;
      position: relative;
      display: block;
      height: 50px;
      width: 50px;
      &:hover {
        cursor: pointer;
      }
      text {
        close,
        open {
          text-transform: uppercase;
          font-size: .8em;
          align-items: center;
          position: absolute;
          transform: translateY(50px);
          text-align: center;
          overflow: hidden;
          transition: width .25s .35s, color .45s .35s;
        }
        close {
          color: rgba(0, 0, 0, 0);
          right: 0;
          width: 0;
        }
        open {
          color: $color-white;
          width: 100%;
        }
      }
      > i {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        background-color: $color-white;
        pointer-events: auto;
        transition-duration: .35s;
        transition-delay: .35s;
        &:before,
        &:after {
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          left: 50%;
          background-color: $color-white;
          content: "";
          transition: transform 0.35s;
          transform-origin: 50% 50%;
        }
        &:before {
          transform: translate(-50%, -14px);
        }
        &:after {
          transform: translate(-50%, 14px);
        }
      }
    }
  }
// 반응형
  @media (max-width: 1024px) {
    .nav-menus,
    .nav-right{
      visibility: hidden;
    }
    .nav-menus li, 
    .nav-menus li a, 
    .nav-right .btn {
      transition: none;
    }
    .nav-toggle {
      display: block;
    }
  }
}

// scroll할 때 nav바 스타일 변경 클래스
//CSS 코드
.nav-changedStyle {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  .logo {
    width: 140px;
    height: 40px;
  }
  .nav-menus li {
    a {
      color: $color-main;
      font-size: 1.6rem;
    }
    &:hover a {
      color: $color-white;
    }
  }
  .nav-right .btn {
    font-size: 1.4rem;
  }
}






